html, body {
    overflow-x: hidden;
}
.item {
    background: #171616;
    padding-bottom: 10px;
}

.item img {
    width: 100%;
}

#scroll-top {
    width: 40px;
    height: 40px;
    background: red;
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 36%;
    cursor: pointer;
}

@media only screen and (max-width: 576px) {
    .phantrang {
        overflow-x: auto;
    }
}